{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="template" content="greeny">
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template">
    <meta name="keywords"
          content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}

    {% endblock %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">

    <link rel="icon" href="{% static 'assets/images/logoicon.png' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/venobox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slickslider/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/niceselect/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/user-auth.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/wishlist.css' %}">
    <style>
        body {
            font-family: 'Uchen', sans-serif !important;
            background-color: whitesmoke !important;
        }
    </style>
</head>

<body>
<section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="user-form-logo"><a href="{% url 'home:home_page' %}">
                    <img src="{% static 'assets/images/logo-bg.png' %}" alt="logo"></a></div>
                {% if messages %} {% for message in messages %}
                    <div class="alert {% if messages.tags == 'info' or message.tags == 'success' %}
            alert-danger text-white {% else %} alert-{{ message.tags }}   {% endif %}
            p-2 alert-dismissible fade show text-center text-capitalize shadow-sm" role="alert" style="">
                        {{ message }}
                        {% comment %}   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>{% endcomment %}
                    </div>
                {% endfor %}
                {% endif %}
                {% block content %}

                {% endblock %}


            </div>
        </div>
    </div>
</section>
<script src="{% static  'assets/vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
<script src="{% static  'assets/vendor/bootstrap/popper.min.js' %}"></script>
<script src="{% static  'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static  'assets/vendor/countdown/countdown.min.js' %}"></script>
<script src="{% static  'assets/vendor/niceselect/nice-select.min.js' %}"></script>
<script src="{% static  'assets/vendor/slickslider/slick.min.js' %}"></script>
<script src="{% static  'assets/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static  'assets/js/nice-select.js' %}"></script>
<script src="{% static  'assets/js/countdown.js' %}"></script>
<script src="{% static  'assets/js/accordion.js' %}"></script>
<script src="{% static  'assets/js/venobox.js' %}"></script>
<script src="{% static  'assets/js/slick.js' %}"></script>
<script src="{% static  'assets/js/main.js' %}"></script>
</body>

</html>