{% extends 'base.html' %}
{% block title %}
    Privacy Policy
{% endblock %}
{% block css %}
    <style>
        a {
            color: #F41717;
        }

        .privacy-policy h3 {
            margin-bottom: 10px;
            margin-top: 10px;
            font-weight: bolder;
        }

        .privacy-policy p {
            line-height: 30px;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="inner-section" style="background-color: whitesmoke !important; margin-top: 0 !important;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 privacy-policy">
                    <h2 class="text-center font-weight-bolder pt-5" style="font-weight: bolder">Shipping Policy</h2>
                    <hr>
                    <br>
                    <p>
                        Deliveries are carried out twice a week. 
                        Orders are typically delivered within 2 to 5 business days from the date of order placement. 
                        Please note that we only deliver within a 20km radius of our locations.
                        <br><br>
                        A delivery notification will be sent once payment has been received and confirmed (usually within 24 to 48 hours). 
                        Interac payments may require additional processing time of up to 2-3 business days before confirmation is sent.
                        <br><br>
                        If the recipient is unavailable at the time of delivery, the order will be left at the front door or 
                        another accessible entrance of the address provided during the order.
                        <br><br>
                        For special delivery instructions, please contact us at <a href="mailto:online@livingwaterheritage.com">online@livingwaterheritage.com</a>.
                    </p>
                    <h3>Free Shipping</h3>
                    <p>
                        Orders exceeding $150 qualify for free shipping.
                    </p>
                    <h3>Cancellations</h3>
                    <p>
                        Order cancellations cannot be processed once the delivery confirmation has been sent.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
